<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel='shortcut icon' type='image/x-icon' href='img/favicon.ico' />
    <title>Vue To Do List</title>
</head>

<body>

    <main id="root">

        <div class="add_to_do">
            <input @keyup.enter="addToDo" type="text" placeholder="Nuovo To-Do" v-model="toDoItem">
            <button @click="addToDo">Aggiungi</button>
        </div>

        <div class="to_do">
            <ul v-if="toDoList.length > 0" class="to_do_list">
                <li v-for="(ToDo, index) in toDoList">
                    <span @click="completedToDo(index)" :class='ToDo.completed ? "class: line-through" : ""'>{{ ToDo.text }}</span>
                    <i @click="removeToDo(index)" class="far fa-times-circle"></i>
                </li>
            </ul>
            <h3 v-else >Inserisci un To-Do nella lista</h3>
        </div>

    </main>

    <script src="js/script.js"></script>

</body>

</html>