<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel='shortcut icon' type='image/x-icon' href='img/favicon.ico' />
    <title>Vue To Do List</title>
</head>

<body>

    <main id="root">

        <h1>{{ h1Message }}</h1>

        <div class="add_to_do">
            <input @keydown.enter="addToDo" type="text" placeholder="Nuovo To-Do" v-model="toDoItem">
            <button @click="addToDo">Aggiungi</button>
        </div>

        <section>

            <div class="to_do">
                <ul v-if="toDoList.length > 0" class="to_do_list">
                    <li v-for="(ToDo, index) in toDoList">
                        <span @click="completedToDo(index)" :class='ToDo.completed ? "line-through" : ""'>
                            {{ ToDo.text }}
                        </span>
                        <i @click="removeToDo(index)" class="far fa-times-circle"></i>
                    </li>
                </ul>
                <h3 v-else>{{ emptyMessage }}</h3>
            </div>

            <div v-if="toDoDoing.length > 0" class="to_do_doing">
                <ul class="to_do_doing_list">
                    <li v-for="(doing, index) in toDoDoing">
                        <span :class='doing.completed ? "line-through" : ""'>
                            {{ doing.text }}
                        </span>
                        <i @click="reAddToDo(index)" class="fas fa-undo"></i>
                        <i @click="deleteToDo(index)" class="fas fa-trash-alt"></i>
                    </li>
                </ul>
            </div>

        </section>

    </main>

    <script src="js/script.js"></script>

</body>

</html>